<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zuimao.onlychat"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
 <!-- 发送短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
 <!-- 读取短信 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
 <!-- 写入消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
 <!-- 接收消息 -->

    <application
        android:name="com.zuimao.onlychat.MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zuimao.onlychat.MainActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- splash 启动界面-->
        <activity
            android:name="com.zuimao.onlychat.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 手机号注册 -->
        <activity
            android:name="com.zuimao.onlychat.activity.RegisterNewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 手机号登录 -->
        <activity
            android:name="com.zuimao.onlychat.activity.LoginNewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 验证码登录 -->
        <activity
            android:name="com.zuimao.onlychat.activity.ImgVerifyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- login 登录 -->
        <activity
            android:name="com.zuimao.onlychat.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- register 注册 -->
        <activity
            android:name="com.zuimao.onlychat.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- chatActivity 聊天 -->
        <activity
            android:name="com.zuimao.onlychat.activity.ChatNewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 添加好友 -->
        <activity
            android:name="com.zuimao.onlychat.activity.AddFriendNewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 创建群 -->
        <activity
            android:name="com.zuimao.onlychat.activity.CreateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 群列表 -->
        <activity
            android:name="com.zuimao.onlychat.activity.GroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 群信息 -->
        <activity
            android:name="com.zuimao.onlychat.activity.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 邀请加入群 -->
        <activity
            android:name="com.zuimao.onlychat.activity.InviteToGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 删除群成员 -->
        <activity
            android:name="com.zuimao.onlychat.activity.DeleteGroupMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 修改群 -->
        <activity
            android:name="com.zuimao.onlychat.activity.EditGroupNameActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!--  -->
        <activity
            android:name="com.zuimao.onlychat.activity.DisplayOrgPicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 设置头像 -->
        <activity
            android:name="com.zuimao.onlychat.activity.SetFaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>
        <!-- 设置昵称 -->
        <activity
            android:name="com.zuimao.onlychat.activity.EditNickNameActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 新的朋友 -->
        <activity
            android:name="com.zuimao.onlychat.activity.NewFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 聊天内容的菜单 -->
        <activity
            android:name="com.zuimao.onlychat.activity.ChatMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>
        <!-- 黑名单列表 -->
        <activity
            android:name="com.zuimao.onlychat.activity.SystemTipsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 好友信息 -->
        <activity
            android:name="com.zuimao.onlychat.activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 搜索群 -->
        <activity
            android:name="com.zuimao.onlychat.activity.SearchGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- 群资料 -->
        <activity
            android:name="com.zuimao.onlychat.activity.GroupSimpleInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 添加好友验证方式 -->
        <activity
            android:name="com.zuimao.onlychat.activity.PassStyleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 设置日志级别 -->
        <activity
            android:name="com.zuimao.onlychat.activity.SetLogLevelActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 朋友验证 -->
        <activity
            android:name="com.zuimao.onlychat.activity.AddFriendInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 黑名单列表 -->
        <activity
            android:name="com.zuimao.onlychat.activity.BlackListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 修改群公告 -->
        <activity
            android:name="com.zuimao.onlychat.activity.EditGroupNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 修改群公告 -->
        <activity
            android:name="com.zuimao.onlychat.activity.EditGroupIntroduceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 群消息提醒方式 -->
        <activity
            android:name="com.zuimao.onlychat.activity.ReceiveMsgOptActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 加群方式 -->
        <activity
            android:name="com.zuimao.onlychat.activity.GroupJoinStyleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 群成员列表 -->
        <activity
            android:name="com.zuimao.onlychat.activity.GroupMemberManageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 禁言时间 -->
        <activity
            android:name="com.zuimao.onlychat.activity.SetSlienceTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>
        <!-- 图片预览 -->
        <activity
            android:name="com.zuimao.onlychat.activity.PhotoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 多余的Activity -->
        <activity
            android:name="com.zuimao.onlychat.activity.AvActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.zuimao.onlychat.activity.AvPrepareActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>

        <!-- main -->
        <activity
            android:name="com.zuimao.onlychat.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tencent.tls.activity.HostLoginActivity"
            android:label="@string/tencent_tls_ui_app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/tencent_tls_ui_theme" >
        </activity>
        <activity
            android:name="com.tencent.tls.activity.HostRegisterActivity"
            android:label="@string/tencent_tls_ui_title_activity_host_register"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/tencent_tls_ui_theme" >
        </activity>
        <activity
            android:name="com.tencent.tls.activity.IndependentLoginActivity"
            android:label="@string/tencent_tls_ui_title_activity_independent_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/tencent_tls_ui_theme" >
        </activity>
        <activity
            android:name="com.tencent.tls.activity.IndependentRegisterActivity"
            android:label="@string/tencent_tls_ui_title_activity_independent_register"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/tencent_tls_ui_theme" >
        </activity>
        <activity
            android:name="com.tencent.tls.activity.ImgCodeActivity"
            android:label="@string/tencent_tls_ui_title_activity_imgcode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/tencent_tls_ui_theme" >
        </activity>
        <activity
            android:name="com.tencent.tls.activity.SelectCountryCodeActivity"
            android:label="SelectCountryCodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/tencent_tls_ui_theme" >
        </activity>
        <activity
            android:name="com.tencent.tls.activity.PhonePwdLoginActivity"
            android:label="@string/tencent_tls_ui_title_activity_phone_pwd"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/tencent_tls_ui_theme" >
        </activity>
        <activity
            android:name="com.tencent.tls.activity.PhonePwdRegisterActivity"
            android:label="@string/tencent_tls_ui_title_activity_phone_pwd_register"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/tencent_tls_ui_theme" >
        </activity>
        <activity
            android:name="com.tencent.tls.activity.ResetPhonePwdActivity"
            android:label="@string/tencent_tls_ui_title_activity_reset_phone_pwd"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/tencent_tls_ui_theme" >
        </activity>

        <!-- QQ登录 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104701569" />
            </intent-filter>
        </activity>

        <!-- 微信登录 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="WXEntryActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>